<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
          Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IPriceDiscountRule" type="Solution.Solution2.Rule.IPriceDiscountRule,Solution"   />
      <typeAlias alias="AffiliateDiscountRule" type="Solution.Solution2.Rule.AffiliateDiscountRule,Solution"   />
      <typeAlias alias="CustomerDiscountRule" type="Solution.Solution2.Rule.CustomerDiscountRule,Solution"   />
      <typeAlias alias="EmployeeDiscountRule" type="Solution.Solution2.Rule.EmployeeDiscountRule,Solution"   />
      <typeAlias alias="FixedDiscountRule" type="Solution.Solution2.Rule.FixedDiscountRule,Solution"   />
    </typeAliases>
    <container name="PriceDiscountRuleContainer">
      <register type="IPriceDiscountRule" mapTo="AffiliateDiscountRule" name="Rule1"   />
      <register type="IPriceDiscountRule" mapTo="CustomerDiscountRule"  name="Rule2"  >
        <property name="memberSinceinYrs">
          <value value="2" />
        </property>
        <constructor>
          <param name="memberSinceinYears">
            <value value="2" />
          </param>
        </constructor>
      </register>
      <register type="IPriceDiscountRule" mapTo="EmployeeDiscountRule" name="Rule3"   />
      <register type="IPriceDiscountRule" mapTo="FixedDiscountRule"  name="Rule4"  />

    </container>
  </unity>
  <appSettings>
    <add key="ActiveRules" value="AffiliateDiscountRule,CustomerDiscountRule,EmployeeDiscountRule,FixedDiscountRule"/>
  </appSettings>
</configuration>